<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>126,560</h3>
                <p>总用户数</p>
            </div>
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <a href="#" class="small-box-footer">更多</a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>8,846</h3>
                <p>总访问量</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">日访问量1,234</a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>6,560</h3>
                <p>总登录次数</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">日登录量1,234</a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>0</h3>
                <p>当日异常</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">更多</a>
        </div>
    </div>
</div>
<div class="row">
    <section class="col-lg-7 connectedSortable col-md-right">
        <div class="box box-widget col-md-top">
            <div class="box-header with-border">
                <h3 class="box-title">购买扫码<span style="font-size:16px;color:red">(698元)</span>--购买后凭交易记录信息联系 <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1039318332&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1039318332:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a></h3>
            </div>
            <div class="box-body" style="">
                <div class="col-sm-4 col-md-6">
                    <div class="thumbnail example">
                        <img src="~/css/dashboard/images/wx.png" style="height:300px" />
                    </div>
                </div>
                <div class="col-sm-4 col-md-6">
                    <div class="thumbnail example">
                        <img src="~/css/dashboard/images/zfb.png" style="height:300px" />
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-widget col-md-top">
            <div class="box-body">
                <div class="layui-tab layui-tab-brief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">车辆管理系统</li>
                        <li>油厨管理监测系统</li>
                        <li>光纤资源管理系统</li>
                        <li>Echart图表设计系统</li>
                        <li>其他</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <div class="layui-carousel" id="jxb">
                                <div carousel-item="">
                                    <div>
                                        <img index="0" modal="zoomImg" src="~/css/dashboard/system/jxb/车辆监控.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="1" modal="zoomImg" src="~/css/dashboard/system/jxb/登录.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="2" modal="zoomImg" src="~/css/dashboard/system/jxb/字典管理.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="3" modal="zoomImg" src="~/css/dashboard/system/jxb/图标管理.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="4" modal="zoomImg" src="~/css/dashboard/system/jxb/模块维护.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="5" modal="zoomImg" src="~/css/dashboard/system/jxb/车辆管理.png" style="width:658px;height:270px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-carousel" id="dgy">
                                <div carousel-item="">
                                    <div>
                                        <img index="6" modal="zoomImg" src="~/css/dashboard/system/dgy/商家地图.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="7" modal="zoomImg" src="~/css/dashboard/system/dgy/商家管理.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="8" modal="zoomImg" src="~/css/dashboard/system/dgy/首页.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="9" modal="zoomImg" src="~/css/dashboard/system/dgy/新增油量.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="10" modal="zoomImg" src="~/css/dashboard/system/dgy/油量录入.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="11" modal="zoomImg" src="~/css/dashboard/system/dgy/月报表.png" style="width:658px;height:270px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-carousel" id="fiber">
                                <div carousel-item="">
                                    <div>
                                        <img index="12" modal="zoomImg" src="~/css/dashboard/system/fiber/登录.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="13" modal="zoomImg" src="~/css/dashboard/system/fiber/机房管理.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="14" modal="zoomImg" src="~/css/dashboard/system/fiber/机柜层.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="15" modal="zoomImg" src="~/css/dashboard/system/fiber/机柜管理.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="16" modal="zoomImg" src="~/css/dashboard/system/fiber/机芯.png" style="width:658px;height:270px;" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-carousel" id="echarts">
                                <div carousel-item="">
                                    <div>
                                        <img index="17" modal="zoomImg" src="~/css/dashboard/system/echarts/参数配置.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="18" modal="zoomImg" src="~/css/dashboard/system/echarts/图1.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="19" modal="zoomImg" src="~/css/dashboard/system/echarts/图2.png" style="width:658px;height:270px;" />
                                    </div>
                                    <div>
                                        <img index="20" modal="zoomImg" src="~/css/dashboard/system/echarts/选择图形.png" style="width:658px;height:270px;" />
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="layui-tab-item">
                            <div class="layui-carousel" id="qt">
                                <div carousel-item=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box box-widget col-md-top">
            <div class="box-header with-border">
                <h3 class="box-title">登录人数</h3>
            </div>
            <div class="box-body">
                <div id="login-analysis" style="height: 260px"></div>
            </div>
        </div>
    </section>
    <section class="col-lg-5 connectedSortable col-md-left">
        <div class="box box-widget col-md-top">
            <div class="box-header with-border">
                <h3 class="box-title">购买内容及服务</h3>
            </div>
            <div class="box-body" style="height:331px;">
                <div class="layui-timeline-content layui-text" style="padding-left:4px">
                    <p>
                        <span class="label label-success">1</span>EIP基础权限版<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 基础权限:菜单、按钮<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 基础框架:字典维护、行政区划、模块维护、模块按钮、登录日志、错误日志、操作日志、程序集、Api描述、系统用户、角色维护、组织机构、岗位维护、组维护
                    </p>
                    <p>
                        <span class="label label-success">2</span>可在本基础版本上进行各自业务系统开发,购买后授予开发使用版权
                    </p>
                </div>
            </div>
        </div>

        <div class="box box-widget col-md-top">
            <div class="box-header with-border">
                <h3 class="box-title">更新日志</h3>
            </div>
            <div class="box-body" style="height:283px;">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            <h3 class="layui-timeline-title">2018/5/16</h3>
                            <p>
                                <span class="label label-success">发布</span>发布基础权限版本
                            </p>
                            <p>
                                <span class="label label-success">功能</span>字典维护、行政区划、模块维护、模块按钮、登录日志、错误日志、操作日志、程序集、Api描述、系统用户、角色维护、组织机构、岗位维护、组维护
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<environment names="Development">
    <script src="~/app/console/home/dashboard.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/build/js/console/home/dashboard.min.js" asp-append-version="true"></script>
</environment>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<script src="~/lib/plugins/boximg/js/boxImg.js" asp-append-version="true"></script>
<link href="~/lib/plugins/boximg/css/boxImg.css" rel="stylesheet" asp-append-version="true" />
<style>
    .example {
        height: 100%;
        position: relative;
    }

    .thumbnail {
        display: block;
        padding: 4px;
        margin-bottom: 17px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
</style>