.table-list-config input {
    cursor: pointer
}

.editviewtitle {
    display: none;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 100;
    height: 20px;
    line-height: 20px;
    border: 1px solid #2e6da4;
    cursor: pointer;
    background-color: #337ab7;
    color: #fff;
}

.navbar {
    border-radius: 0;
    background: white;
    border-top: 1px solid #f4f4f4;
}

.sw-theme-arrows .sw-toolbar {
    border-radius: 0;
}

.sw-theme-arrows > ul.step-anchor {
    border-radius: 0;
}

.sw-theme-arrows .step-content {
    padding: 0;
}


.form-horizontal .form-group {
    margin-left: 0px;
    margin-right: 0px;
}


.app_layout {
    margin: 0px auto;
    position: relative;
    height: 444px;
    border-left: 1px solid #ccc;
    padding: 3px;
    overflow: auto;
    overflow-x: hidden;
}

    .app_layout .item_table {
        border-top: 1px solid #d5d5d5;
        border-bottom: 0px solid #d5d5d5;
        min-height: 444px;
    }

    .app_layout .item_row {
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #eeecec;
        overflow: hidden;
        cursor: move;
    }

    .app_layout .activeerror {
        border-bottom: 1px solid #B94A48;
    }

    .app_layout .active .item_field_label {
        background-color: #337ab7;
        color: #fff;
    }

        .app_layout .active .item_field_label font {
            color: #fff;
        }

    .app_layout .item_field_label {
        float: left;
        width: 120px;
        padding-left: 20px;
        background-color: #f5f5f5;
        vertical-align: top;
        display: block;
    }

        .app_layout .item_field_label font {
            color: red;
            position: absolute;
            padding-left: 10px;
        }

    .app_layout .item_field_value {
        float: left;
        height: 100%;
        width: 80%;
        padding-top:3px;
        padding-left: 10px;
        color: #9f9f9f;
        display: block;
    }

    .app_layout .item_field_remove {
        float: right;
        padding-right: 235px;
        z-index: 101;
        cursor: pointer;
    }

        .app_layout .item_field_remove i.del {
            color: #CF5C60;
            width: 20px;
            height: 20px;
            font-size: 14px;
            line-height: 20px;
            border-radius: 5px;
            text-align: center;
            display: none;
        }

    .app_layout .active .item_field_remove i {
        display: inline-block;
    }

    .app_layout .item_table {
        overflow: hidden;
        border-top: 1px solid #eeecec;
        border-bottom: none;
        min-height: 400px;
    }

    .app_layout .item_row {
        cursor: default;
        position: relative;
    }

        .app_layout .item_row .item_field_label {
            cursor: move;
        }

        .app_layout .item_row:hover {
            border: 1px dashed #337ab7;
        }

    .app_layout .ui-state-highlight {
        border: none;
    }
