<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>版本号</b>V1.0.0
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1039318332&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1039318332:51" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
        <a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=d4fb056cbc686c01af64c4d713feb4ed36d60c873e721d69f2d8ddcacd4ed81b"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="EIP交流" title="EIP交流"></a>
    </div>
    <strong>Copyright &copy; 2018-2020<a href="#" class="logo-lg">EIP（Enterprise Information Portal）</a>.</strong>
</footer>