<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="~/css/user/avatar.jpg" class="img-circle"  title="点击切换头像" id="headImage">
            </div>
            <div class="pull-left info">
                <span>欢迎您,</span>
                <p style="padding-top: 10px" id="user-name-sidebar"></p>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li class="header" data-rel="external">系统菜单 <i id="refresh-menu" title="刷新菜单" class="fa fa-refresh pull-right"></i></li>
        </ul>
    </section>
</aside>
