body {
    font-size: 12px;
}

a {
    color: black;
}

    a:hover {
        color: black;
    }

.content {
    padding: 5px;
}

.nav-tabs > li > a {
    padding: 7px;
}

.nav-tabs-custom > .nav-tabs > li.header {
    line-height: 0px;
}

.nav-tabs-custom {
    margin-bottom: 0px;
}

.control-label {
    padding-left: 0px;
}

.padding-left-zero {
    padding-left: 0px;
}

.padding-right-zero {
    padding-right: 0px;
}

.padding-right-box {
    padding-right: 4px;
}

.dataTables_scrollHeadInner {
    width: 100% !important;
}

    .dataTables_scrollHeadInner > table {
        width: 100% !important;
    }

.tooltip-inner {
    max-width: 100%;
}

.ui-jqgrid tr.ui-row-ltr td {
    text-overflow: ellipsis;
}

.form-horizontal .form-group font {
    color: red;
    position: absolute;
    right: 0;
}

.pointer {
    cursor: pointer;
}

input[type=checkbox], input[type=radio] {
    margin: 0px;
}

.listsearch input {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.box {
    border-radius: 0px;
    margin-bottom: 2px;
}

.box-header.with-border {
    border-bottom: 1px solid #eee;
}

.box-header .box-title {
    font-size: 16px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.modal-body {
    margin: 0px;
    padding: 2px;
}

.box-body {
    padding: 2px;
}

.form-control[readonly] {
    background-color: white;
}

.left-boder-color {
    padding-left: 8px;
    border-left: 2px solid #3c8dbc;
}



#table-toolbar .input-group {
    width: 190px;
    float: right;
    margin-left: 4px;
}

.popover-content {
    padding: 4px;
}

#kvFileinputModal {
    z-index: 2000;
}

#headImage {
    cursor: pointer;
}

.filter {
}

.m {
}

.form-datetime {
}

.msg-content {
}

.sidebar-collapse .main-header .sidebar-toggle:before {
    content: "\f03c";
}

.main-header .logo {
    padding: 0px;
}

.sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 20px;
    font-family: Myriad Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 600;
}

.search-form input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}

.search-form button {
    vertical-align: top;
}

.sidebar-menu .treeview-menu > li > a {
    padding: 8px 5px 8px 15px;
    display: block;
    font-size: 12px;
}

.navbar-static-top a {
    font-size: 14px;
}

.main-footer {
    padding: 10px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    height: auto;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.tpwthwidt .text_1vUR5ag, .tpwthwidt .title_2I35arv {
    color: white;
}

#tp-weather-widget {
    padding-top: 6px;
}

#refresh-menu {
    cursor: pointer;
    font-size: 13px;
    color: white;
    margin-top: 4px;
}

.col-md-top {
    margin-top: 4px;
}

.col-md-left {
    padding-left: 3px;
}

.col-md-right {
    padding-right: 3px;
}

.h1, .h2, .h3, h1, h2, h3, .h4, .h5, .h6, h4, h5, h6 {
    margin-top: 0px;
}
.tab-filter-type {
    margin-top: 3px;
}
.tab-filter-type h5 {
    font-size: 14px;
    width: 100px;
    line-height: 24px;
}

.tab-type li span.active {
    background-color: #12b8f6;
    color: #fff;
}

.tab-type li {
    float: left;
    margin-right: 10px;
    margin-bottom: 15px;
}

.tab-type {
    margin-left: 95px;
}

.oh {
    overflow: hidden;
}

.ft14 {
    font-size: 14px;
}

.tab-type li span {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 15px;
    cursor: pointer;
}
.tab-type {
    margin-left: 10px;
}

.tab-filter-type h5 {
    width: auto;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 10px 10px 10px 15px;
    }
}

.toast-top-center{
    top:8px;
}